.list-group-item.active {
    background-color: #343a40;
    border-color: #343a40;
}

a {
    color: #9B59B6;
}

.card-header {
    background-color: #9B59B6;
    color: white;
}

#alertContainer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 40%;
    margin: 50px auto auto auto;
    text-align: center;
}